<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ExcelData" >
  
  
  <test  name="xyz">
  <parameter name="browser" value="ff"></parameter>
    <classes>
     <!--  <class name="com.ExcelDataTest.FirstWay_ExcelTest"/> -->
       <class name="com.secondway.Secondway_ExcelTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- ExcelData -->
